
.home-page {
    color: #fff;
    background-image: url(/src/assets/home-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem; 
}

.intro-msg-container {
    max-width: 800px; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.intro-msg-container h1 {
    font-weight: 800;
}

.intro-msg-container p {
    font-weight: 500;
    margin-bottom: 1rem;
}

