@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}

html {
  font-size: clamp(14px, 3vw, 20px);
}


body {
  font-family: "Inter", sans-serif;
  background-color: #FFF7ED;
  color: #161616; 
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


main {
  flex-grow: 1; 
}

.loading {
    margin-top: 10rem;
}

.van-type {
    width: 80px; 
    font-size: 0.9rem; 
    font-weight: 600;
    padding: 0.5rem 0.8rem; 
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange-btn {
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 700; 
    font-size: 1rem;
    background-color: #FF8C38;
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 0.8rem 0.5rem; 
    cursor: pointer;
}



/* 404 Page style below */

.notFound-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notFound-container {
  max-width: 600px; 
}

.notFound-container button {
  width: 100%; 
  background-color: #161616;
  color: #fff; 
  border: none; 
  border-radius: 5px;
  padding: 0.8rem 0.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 1rem; 
  cursor: pointer;
}

/* 404 Page style above */




.lastDays {
    font-size: 0.9rem; 
    font-weight: 500;
    color: #4D4D4D; 
}

.lastDays u {
    font-weight: 700;
    text-decoration: underline;
}


.starIcon {
  color: #FF8C38;
  font-size: 1.5rem;
}